<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster Slayer</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.2" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section>
      <button @click="toggleRules = !toggleRules">{{ toggleRules ? "Hide Rules" : "Show Rules" }}</button>
      </section>
      <section v-if="toggleRules">
        <p>How to play: Use the buttons to interact. The Monster may change attack styles. Keep in mind the combat triangle: Melee is strong against Range, Range is strong against Mage,
          and Mage is strong against Melee.
        </p>
      </section>
      <section id="monster" class="container">
        <div class="attackStyleContainer">
          <img class="goblin" src="assets/goblin-head.png" alt="Goblin Image">
          <h2 style="padding-top: 10px;">Goblin Health</h2>
          <div> 
            <h6 style="margin: unset">Attack Style</h6>
            <img class="attackStyle" :src="monsterIcon" alt="?">
          </div>
        </div>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterHealthBarValue"></div>
        </div>
      </section>
      <section id="player" class="container">
        <div class="attackStyleContainer">
          <h2 style="padding-top: 10px;">Your Health</h2>
          <div> 
            <h6 style="margin: unset">Attack Style</h6>
            <img class="attackStyle" :src="heroIcon" alt="?">
          </div>
        </div>
        <div class="healthbar">
          <div class="healthbar__value" :style="heroHealthBarValue"></div>
        </div>
      </section>
      <section id="controls" v-if="gameOver === false">
        <button @click="attackMonster('melee')">MELEE ATTACK</button>
        <button @click="attackMonster('ranged')">RANGE ATTACK</button>
        <button @click="attackMonster('mage')">MAGE ATTACK</button>
        <button @click="specialAttackMonster" :disabled="specialAttackOnCooldown">SPECIAL ATTACK</button>
        <button @click="heal">HEAL</button>
        <button @click="stun" :disabled="monsterStunnedCountDown > 0">STUN</button>
        <button @click="surrender">SURRENDER</button>
      </section>
      <section class="container" v-else>
        <h2>Game Over</h2>
        <p v-if="hero.heroHp <= 0 && goblin.monsterHp <= 0">It's a draw!</p>
        <p v-else-if="hero.heroHp <= 0">Monster wins!</p>
        <p v-else>Hero wins!</p>
        <button @click="reset">New Game?</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <ul>
          <li :key="log" v-for="log in battleLogs">
            <span :class="{'log--player': log.who === 'Hero', 'log--monster': log.who === 'Monster'}">{{ log.who }}: </span>
            <span v-if="log.what === 'heal'">{{ log.message }} <span class="log--heal">{{ log.amount }}</span></span>
            <span v-else-if="log.what === 'fullHeal'">{{ log.message }} <span class="log--heal">100</span></span>
            <span v-else-if="log.what === 'special'">{{ log.message }} <span class="log--special">{{ log.amount }}</span></span>
            <span v-else-if="log.what === 'miss'">{{ log.message }}</span>
            <span v-else-if="log.what === 'stun'">{{ log.message }}</span>
            <span v-else-if="log.what === 'stunFail'">{{ log.message }}</span>
            <span v-else-if="log.what === 'stunned'">{{ log.message }}</span>
            <span v-else-if="log.what === 'attack'">{{ log.message }} <span class="log--damage">{{ log.amount }}</span></span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
